@use '../utils/variables' as *;

@font-face {
   font-family: 'arkipelagoregular';
   src: url('/fonts/arkipelago.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

body {
   font-family: $font-base;
   font-size: $font-size-base;
   line-height: $line-height-base;
   color: $text-color;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h1,
h2,
h3 {
   font-family: $font-heading;
   font-weight: 400;
   margin-bottom: 1rem;
   color: $third;
}

h1 {
   font-size: $font-size-h1;
   margin-bottom: 50px;
}

h2 {
   font-size: $font-size-h2;
}

h3 {
   font-size: $font-size-h3;
}

p {
   margin-bottom: 1.5rem;
   font-weight: 400;
}

a {
   text-decoration: none; // Supprime le soulignement
   color: inherit; // Hérite de la couleur du texte parent
   background: none;
}

section {
   padding-bottom: 50px;
}

.section-subtitle {
   font-size: 16px;
   letter-spacing: 1px;
   line-height: 30px;
   color: #f38b1c;
   font-weight: 700;
   font-family: "Lato", sans-serif;
   margin-bottom: 5px;
}
