
.search_contain {
   display: flex;
   align-items: center;
   justify-content: center;
   padding-left: 240px;
   padding-top: 20px;
   position: fixed;
   width: calc(100% - 240px);
   z-index: 1;

   i {
      position: relative;
      left: 33px;
      font-size: 20px;
   }
   form {
      width: 40%;
   }
   .searchBar {
      input {
         width: 100%;
         padding: 8px 8px 8px 40px;
         border-radius: 20px;
         background-image: linear-gradient(45deg, #b9cee7, rgb(180, 206, 237));
         border: 2px solid #ffffff24;
         outline: none;
         font-weight: 500;
         transition: all 0.3s ease-in-out;
         opacity: 0.3;
      
         &:hover {
            transition: all 0.3s ease-in-out;
            opacity: 1;
         }
         
         &:focus {
            border: 2px solid #ffffff5c;
            background-color: transparent;
            opacity: 1;
         }
      }
   }
}